@use "sass:color";
@use "../abstracts" as *;

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  padding: 1rem;
}

.authBox {
  background: rgba(20, 20, 20, 0.95);
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  text-align: center;

  h1 {
    text-transform: capitalize;
    color: $color-light;
    margin-bottom: 1.5rem;
  }
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    padding: 0.8rem 1rem;
    border: 1px solid #333;
    border-radius: 6px;
    background: #1c1c1c;
    color: $color-light;
    font-size: 1rem;

    &:focus {
      outline: 2px solid $color-primary;
    }

    &::placeholder {
      text-transform: capitalize;
    }
  }

  .btnPrimary {
    background: $color-primary;
    color: $color-light;
    border: none;
    padding: 0.8rem;
    border-radius: 6px;
    font-weight: $font-weight-medium;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
      background: color.adjust($color-primary, $lightness: -10%);
      // background: color.scale($color-primary, $lightness: -10%);
    }
  }
}

.authText {
  margin-top: 1rem;
  color: #aaa;
  font-size: 0.9rem;

  .authLink {
    color: $color-primary;
    font-weight: $font-weight-medium;
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }
}